# Exploratory Data Analysis of Students Performance Dataset

## Project Overview
This dataset contains academic performance scores of 1,000 students in math, reading, and writing, along with demographic and educational background information. 

The aim of this analysis is to understand patterns in student performance and explore factors that may influence their scores.

This project analyzes students' academic performance using a publicly available dataset. 
The goal is to explore factors influencing final grades and visualize patterns.

# Data Cleaning
Purpose:
	•	To make sure the data is accurate, complete, and consistent before analysis.
	•	Removes errors, missing values, duplicates, or inconsistent formatting that could mislead the analysis.
	•	Ensures that computations (like averages or correlations) are reliable.

In [6]:
import pandas as pd
import os

# Load raw data

df = pd.read_csv("/Users/DadaOlayemi/Students_Performance/data/StudentsPerformance.csv")

In [7]:
# Inspect data
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [8]:
# Handle missing values
df = df.dropna()  # simple example, or use fillna

# Save cleaned data
os.makedirs("data/processed", exist_ok=True)
df.to_csv("data/processed/student_performance_cleaned.csv", index=False)